body{
  background-color: rgb(241, 147, 6);
  margin: 0;
  font-family: sans-serif;
}

.wizard-card {
  margin: 0 auto;
  height: 500px;
  width: 600px;
  border: 4px;
  border-color: rgb(0, 0, 0);
  border-radius: 15%;
  border-style: solid;
  background-color: rgb(28, 225, 235);
  padding-top: 10px;
  padding-bottom: 10px;
  display: center;
  justify-content: center;
  align-items: center;
}

.wizard-detail-card {
  margin: 0 auto;
  height: 850px;
  width: 600px;
  border: 4px;
  border-color: rgb(0, 0, 0);
  border-radius: 15%;
  border-style: solid;
  background-color: rgb(28, 225, 235);
  padding-top: 10px;
  padding-bottom: 10px;
  display: center;
  justify-content: center;
  align-items: center;
}


#about {
  border: 3px solid #0930de;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2
}

div.spell-item {
  margin: 0 auto;
  height: 200px;
  width: 800px;
  border: 4px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(37, 37, 210);
  padding-top: 5px;
  padding-bottom: 5px;
}

.wizard-name {
  text-align: center; 
  font-family: sans-serif;
  font-style:oblique;
  font-size: 40px;
  position: relative;
  bottom: 15px;
  z-index: 0;
  color: rgb(22, 75, 223);
}

.wizard-house {
  text-align: center;
  font-family: sans-serif;
  font-style:oblique;
  font-size: 25px;
  position: relative;
  bottom: 15px;
  z-index: 0;
  color: rgb(28, 25, 12);
}

img.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}

img.wizard-image {
  margin: auto;
  display: block;
  height: 250px;
  width: 225px;
  border-radius: 15%;
  padding-top: 5px;
}

.button-container {
  text-align: center;
  position: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* button.spell-details {
  margin: 0 auto;
  border: 2px;
  border-style: solid;
  border-radius: 25px;
  text-align: center;
  position: center;
  padding-top: 5px;
  padding-bottom: 5px;
} */

.spell-details:hover {
  background-color: rgb(102, 7, 235);
}

button.edit-btn {
  height: 30px;
  width: 150px;
  border: 2px;
  border-style: solid;
  border-radius: 25px;
}

.edit-btn:hover {
  background-color: rgb(102, 7, 235);
}

button.del-btn {
  height: 30px;
  width: 100px;
  border: 2px;
  border-style: solid;
  border-radius: 25px;
}

.del-btn:hover {
  background-color: rgb(102, 7, 235);
}

.submit {
  position: relative;
  background-color: #136d17;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e45d27 solid 1px;
  color: #e45d27;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  font-size: 20px;
  text-align: center;
  color:#040504;
}

p.spell-item {
  text-align: justify;
  color:#e45d27;
}

h1 {
  color:#ad09ce;
  margin: 0.5rem 0;
  font-size: 100px;
  text-align: center;
}

h2 {
  text-align: center;
}

h2.spell-item {
  text-align: justify;
}

h3.spell-item {
  color:#f01111;
  margin: 0.5rem 0;
  font-size: 20px;
  text-align: left;
}

.wizard-details {
  margin: 0 auto;
  height: 500px;
  width: 600px;
  border: 4px;
  border-color: rgb(0, 0, 0);
  border-radius: 15%;
  border-style: solid;
  background-color: rgb(28, 225, 235);
  padding-top: 20px;
  padding-bottom: 10px;
  display: center;
  justify-content: center;
  align-items: center;
}

.create-new-wizard {
  border: 4px;
  border-color: rgb(0, 0, 0);
  border-radius: 15%;
  border-style: solid;
  background-color: rgb(28, 225, 235);
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  display: center;
  text-align: center;
}

.update-wizard-form {
  border: 4px;
  border-color: rgb(0, 0, 0);
  border-radius: 15%;
  border-style: solid;
  background-color: rgb(28, 225, 235);
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  display: center;
  text-align: center;
}