body {
  margin: 0;
  font-family: sans-serif;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2
}

.create-new-wizard{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.wizard-card {
  width: 320px;
  padding: 10px;
  border: 1px solid gray;
  margin: 0;
  text-align: center;
  display: left;
}

img.wizard-image {
  justify-self: center;
  height: 263px;
  width: 350px;
}

img.home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}

.btn-group button {
  background-color: #0465aa; 
  border: 1px solid #0465aa; 
  color: white; /* White text */
  padding: 10px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  display: center;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.submit {
  position: relative;
  background-color: #136d17;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e45d27 solid 1px;
  color: #e45d27;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-left: 80px;
  font-size: 20px;
  text-align: justify;
}

p.wizard-card {
  font-size: 20px;
  text-align: left;
  width: 350px;
  margin: 0;
}

#about {
  border: 3px solid #0930de;
}

h1 {
  color:#ad09ce;
  margin: 0.5rem 0;
  font-size: 100px;
  text-align: center;
}

h2 {
  color:#0930de;
  margin: 0.5rem 0;
  font-size: 30px;
  text-align: left;
}

h3 {
  color:#f01111;
  margin: 0.5rem 0;
  font-size: 20px;
  text-align: center;
}

h3.spell-item {
  color:#f01111;
  margin: 0.5rem 0;
  font-size: 20px;
  text-align: left;
}
li {
  display: inline;
}

/* div.spell-list {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-left: 80px;
  font-size: 20px;
} */

